/* :placeholder
.css-o3slg7-MuiInputBase-root-MuiOutlinedInput-root-MuiSelect-root {
    font-family: var(--prompt-font) !important;
    font-size: 15px;
}


.css-1ux2ac7-MuiFormLabel-root-MuiInputLabel-root {
    font-size: 16px;
    font-family: var(--prompt-font) !important;
}

.MuiButtonBase-root {
    font-family: var(--prompt-font) !important;
}

.MuiInputLabel-formControl {
    font-family: var(--prompt-font) !important;
}

.MuiMenuItem-root{
    font-family: var(--prompt-font) !important;
} */
